*{
    margin: 0;
    padding: 0;   
}

.container-slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: black;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}

.container-items{
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 50vw;
    height: 50vh;
    background-color: red;
    border-radius: 10px;
}

.item {
    width: 50vw;
    height: 50vh;
    transition: all 1s;
}
.item:first-child{
    margin-left: -100%;
}
.item img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
}

.action-button{
    font :bold 30px sans-serif;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    user-select: none;
    color: black;
    transition: .3s;
    height: 100%;
    border-radius: 10px;
}

.action-button:hover{
    color: white;
    background-color: black;
    opacity: 0.8;
    cursor: pointer;
}